body {
	background-color: #cfcfcf;
	font-family: 'Niconne', cursive;
}

.container {
	/* visibility: hidden; */
	margin-left: 25%;
	margin-right: 25%;
	background-color: white; 
}

.candidate-container {
	padding-top: 4%;
}

