body {
	background-color: #cfcfcf;
	/* font-family: 'Niconne', cursive;*/
	font-family: 'Oleo Script Swash Caps', cursive;
}

.container {
	/* visibility: hidden; */
	margin-left: 25%;
	margin-right: 25%;
	background-color: white; 
}

.candidate-container {
	padding-top: 2%;
}

.candidate-name {
	text-align: center;
	font-size: 36px;
	line-height: 0;
}

.candidate-info {
	text-align: center;
	font-size: 24px;
}

.policy-header {
	font-size: 28px;
	line-height: 0.5;
}

.policy-title {
	font-size: 24px;
	line-height: 0.5;
}

.policy-effects {
	font-size: 20px;
}